.container {
  height: 30rem;
}

.containerLeft,
.containerRight {
  box-sizing: border-box;
  width: 50%;
  background-color: transparent;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  float: left;
}

.textContainer {
  width: 85%;
  position: relative;
  left: 60%;
  transform: translateX(-50%);
  margin: 0;
  padding: 2rem;
}

.title {
  color: #333;
  font-size: 3rem;
  padding-bottom: 1.2rem;
  top: 0.4rem;
  position: relative;
  border-bottom: solid #cb0b2b 0.4rem;
}

.text {
  text-align: justify;
}

.ima {
  position: relative;
  height: 18rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  width: 30rem;
  box-shadow: 30px 50px 19px 17px rgba(0, 0, 0, 0.8);
}

@media (max-width: 1200px) {
  .ima {
    width: 26rem;
    height: 14rem;
  }
}

@media (max-width: 992px) {
  .textContainer {
    left: 50%;
    width: 80%;
    top: 0;
  }

  .text {
    margin-bottom: 0;
  }

  .title {
    text-align: center;
  }

  .ima {
    left: 50%;
    transition: 1s;
    box-shadow: 25px 25px 19px 10px rgba(0, 0, 0, 0.8);
    position: relative;
    margin-bottom: 2rem;
  }

  .containerLeft,
  .containerRight {
    width: 100%;
    top: 0;
    transform: translateY(0);
  }
}

@media (max-width: 430px) {
  .ima {
    width: 18rem;
    height: 10rem;
  }
}
