.containerall {
  height: 30rem;
}

.containerLeft,
.containerRight {
  box-sizing: border-box;
  width: 60%;
  /* display: inline-block; */
  background-color: transparent;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  float: left;
}

.hola {
  color: #333;
  font-size: 3rem;
  padding-bottom: 1.2rem;
  top: 0.4rem;
  position: relative;
  border-bottom: solid #8e2cb2 0.4rem;
}

.containerLeft {
  padding: 0 8rem;
  left: 3.5rem;
}

.para {
  text-align: justify;
}

.ima {
  height: 20rem;
  width: 20rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.pulse {
  height: 20rem;
  width: 20rem;
  position: relative;
  left: 70%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.pulse::after {
  height: 20rem;
  width: 20rem;
  content: "";
  z-index: 1;
  position: absolute;
  left: -0.1rem;
  animation: pulse 2s ease infinite;
  background-color: #a73cce;
  border-radius: 50%;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0;
  }
}

.containerRight {
  color: tomato;
  width: 30%;
}

.botones {
  position: relative;
  padding: 2rem;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
}

.boton1 {
  background-color: thistle;
}
.boton2 {
  background-color: thistle;
}
.boton3 {
  background-color: thistle;
}
.boton4 {
  background-color: thistle;
}

.transparent {
  width: 70%;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-decoration: none;
  /* box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3); */
  position: relative;
  margin: 10px 0;
  border: none;
}
.transparent:hover > p {
  color: #ece8e1;
}

.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}

.transparent:after,
.transparent:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.transparent:before {
  right: 0;
  left: initial;
}
.transparent p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.text {
  z-index: 40;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.transparent:hover {
  color: #ece8e1;
}
.transparent:hover .bg {
  width: 110%;
}
