.container {
  width: 100%;
  overflow: hidden;
  height: 42rem;
}

.containerImageTextBox {
  box-sizing: border-box;
  width: 60%;
  position: relative;
  top: 12rem;
  left: 40%;
  transform: translateX(-50%);
}

.title {
  position: relative;
  font-size: 5rem;
  line-height: 3rem;
  text-align: left;
  font-weight: 600;
  color: #000;
  padding-bottom: 2rem;
  margin: 0;
  opacity: 0;
  animation: mainTitle 2s ease-out 1s forwards;
}

@keyframes mainTitle {
  20% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

.line {
  position: relative;
  height: 0.4rem;
  background-color: #035aa6;
  animation: lineAppear 2s ease-out 2s forwards;
  width: 0%;
  opacity: 0;
}

@keyframes lineAppear {
  90% {
    opacity: 0.8;
  }

  100% {
    width: 80%;
    opacity: 1;
  }
}

.text {
  padding-top: 1rem;
  position: relative;
  text-align: justify;
  color: #000;
  width: 80%;
}

@media (max-width: 1380px) {
  .containerImageTextBox {
    transition: 1s;
    left: 40%;
  }

  .title {
    font-size: 4rem;
    transition: 1s;
  }
}

@media (max-width: 992px) {
  .container {
    padding-bottom: 0;
  }

  .containerImageTextBox {
    width: 80%;
    background-color: rgb(255, 255, 255, 0.9);
    top: 50%;
    padding: 2rem;
    height: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    text-align: center;
    line-height: 1.2;
    padding-bottom: 0.6rem;
    top: 0;
    font-size: 3rem;
  }

  .line {
    top: 0;
    transition: 1s;
    width: 100%;
  }

  @keyframes lineAppear {
    90% {
      opacity: 0.8;
    }

    100% {
      width: 100%;
      opacity: 1;
    }
  }

  .text {
    top: 0;
    transition: 1s;
    margin-bottom: 0;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .title {
    text-align: center;
    line-height: 1.2;
    padding-bottom: 0.6rem;
    top: 0;
    font-size: 2rem;
  }
}
