.container {
  height: 34rem;
  background-color: #fcfcfc;
  box-shadow: -2px -27px 54px 0px #f8f6f7;
  position: relative;
}

.containerLeft,
.containerRight {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  background-color: transparent;
  float: left;
  height: 34rem;
}

.containerLeft {
  padding: 0 2rem;
  padding-left: 6rem;
}

.containerTextBox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  position: relative;
  color: #333;
  font-size: 3rem;
  padding-bottom: 1.2rem;
  border-bottom: solid #035aa6 0.4rem;
}

.text {
  text-align: justify;
  position: relative;
}

.imagePosition {
  position: relative;
  width: 80%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
}

@media (max-width: 1225px) {
  .imagePosition {
    height: 80%;
    width: 80%;
  }
}

@media (max-width: 992px) {
  .containerRight {
    width: 100%;
    height: 50%;
    margin-bottom: 2rem;
  }

  .containerLeft {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .containerTextBox {
    width: 80%;
    top: 0;
    transform: translateY(0) translateX(-50%);
    left: 50%;
    margin-top: 2rem;
  }

  .title {
    text-align: center;
  }
  .imagePosition {
    height: 100%;
    width: 100%;
  }
}
